<h1> All Mangas </h1>


<%= form_tag(mangas_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Tweets" %>
<%= submit_tag "Search" %>
<% end %>

<ul>
	<% @researchs.each do |manga| %>
			<li><%= link_to manga.name , manga_path(manga) %> 
				<% if policy(manga).edit? %> 
					<%= link_to 'Edit', edit_manga_path(manga) %> 
				<% end %>

				<% if policy(manga).destroy? %> 
				<span><%= link_to 'Destroy', manga_path(manga), method: :delete, class: 'btn btn-danger' %></span></li>
				<% end %>

	<% end %>
</ul>
<% if policy(@researchs).new? %>
	<%= link_to "Add manga", new_manga_path %>
<% end %>


