<div class="container">
	<br>
	<div class="card text-center">
		<div class="card-header">
    		<h2>Ajouter un manga</h2>
  		</div>
  		<div class="card-body">
			<%= simple_form_for @manga do |f| %>
				<%= f.input :name %>
				<%= f.input :description %>
				<%= f.input :auteur %>
				<%= f.input :photo, as: :file %>
				<br>
				<%= f.submit %>
			<% end %> 
		</div>
	</div>
</div>