<h1><%= @manga.name %></h1>
<h1><%= @manga.auteur %></h1>
<p><%= @manga.description %></p>
<br>

<h2>Tomes</h2>
<%= link_to "Ajoutez un tome", new_manga_tome_path(@manga) %>
<ul>
  <% @manga.tomes.each do |tome| %>
    
    <li><%= link_to tome.title , tome_path(tome) %>  - <%= tome.description %></li>
  <% end %>
</ul>