<div class ="container">
	<br>
	<%= link_to 'Retour', '/', class:"btn btn-outline-secondary" %> 
	<br>
	<div class="row">
		<div class="col-sm-2"> 
		</div>
			<div class="col-sm-8">
				<div class="card text-center">
					<%= cl_image_tag @manga.photo.key, class:"card-img-top" if @manga.photo.attached? %>
					<div class="card-body">
						<h5 class="card-title"><%=@manga.name%></h5>
						<h6 class="card-subtitle mb-2 text-muted"><%=@manga.auteur%></h6>
						<p class="card-text"><%=@manga.description%></p>
					</div>
				</div>
			</div>
	</div>

	<br>
	<h2 class="text-center">Tomes</h2>
	<br>
	<table class="table">
		<thead>
			<tr>
			<th scope="col">#</th>
			<th scope="col">Nom du tome</th>
			
			<% if policy(@manga).edit? %>
				<th scope="col">Modifier</th>
				<th scope="col">Supprimer</th>
			<% end %>
			</tr>
		</thead>
		<tbody>
			
			<% @manga.tomes.sort_by { |t| [t.number] }.each do |tome|  %>
			<tr>
				<th scope="row"><%=tome.number%></th>
				<td><%= link_to tome.title , tome_path(tome) %></td>
				<% if policy(tome).edit? %> 
					<td>
						<%= link_to 'Modifier', edit_manga_tome_path(@manga, tome), class:"btn btn-primary" %> 
					</td>
				<% end %>
				<% if policy(tome).destroy? %>
					<td>
						<%= link_to "Supprimer", manga_tome_path(@manga, tome), method: :delete, class:"btn btn-danger" %>
					
					</td>
				<% end %>
			</tr>
			<% end %>
			
		</tbody>
	</table>

	

<br>

	<% if policy(@manga).new? %>
		<div class="d-grid gap-2 col-2 mx-auto">
			<%= link_to "Ajoutez un tome", new_manga_tome_path(@manga), class:'btn btn-info' %>
		</div>
	<% end %>
</div>