<h1><%= @manga.name %></h1>
<h1><%= @manga.auteur %></h1>
<p><%= @manga.description %></p>
<%= cl_image_tag @manga.photo.key if @manga.photo.attached? %>
<br>

<h2>Tomes</h2>
<% if policy(@manga).new? %>
<%= link_to "Ajoutez un tome", new_manga_tome_path(@manga) %>
<% end %>
<ul>
  <% @manga.tomes.each do |tome| %>
    
    <li><%= link_to tome.title , tome_path(tome) %>  
    	
    	<% if policy(tome).edit? %> 
    		 - <%= link_to 'Editer', edit_manga_tome_path(@manga, tome) %> 
    	<% end %>

    	<% if policy(tome).destroy? %>
			- <%= link_to "Supprimer", manga_tome_path(@manga, tome), method: :delete %>
    	<% end %>
    </li>

  <% end %>
</ul>