<h1><%= @tome.title %>  : <%= @tome.number %></h1>
<p><%= @tome.description %></p>
<%= cl_image_tag @tome.photo.key if @tome.photo.attached? %>
<h2>Reviews</h2>
<%= link_to "Laissez un avis", new_tome_review_path(@tome) %>


<% @tome.reviews.each do |review| %>
<br>
<br>
		<%= review.user.email %>- <%= review.rating %> - <%= review.description %>
    	<% if policy(review).edit? %>
			<%= link_to 'Edit', edit_tome_review_path(@tome, review) %>
		<% end %>
		<% if policy(review).destroy? %>
			<%= link_to "Supprimer", tome_review_path(@tome, review), method: :delete %>
		<% end %>
<% end %>
<br>
<br>
