<!DOCTYPE html>
<html>
  <head>
    <title>Mangatheque</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <!-- Nav -->

    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
     
        <a class="navbar-brand" href="/"> <%= image_tag ("logo.png"), width:"30", height:"30", class:"d-inline-block align-top"%>    Mangatheque</a>
        <form class="d-flex">
          <%= link_to 'Se connecter', new_user_session_path unless user_signed_in? %> 
          <%= link_to 'Se deconnecter', destroy_user_session_path, method: :delete if user_signed_in? %>
        </form>
      </div>
    </nav>


    <body class="d-flex flex-column h-100">
      <%= yield %>

    <%# footer %>

    <div class="footer-copyright py-3 text-center sticky-bottom">
      <div class="container-fluid">© 2021 Copyright: LEIB Adrien, EGU Hugo-Jean</div>
    </div>

  </footer>
    </body>

    


</html>
